

/* .title {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.tag {
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #a6e7d0;
  text-align: center;
  margin-top: 0.5rem;
} */
